# Mac trash
*.DS_Store

# RStudio Projects
.Rproj.user
*.Rproj

# Latex trash
latex_detecting_corruption_collusion_fraud/00_thesis_detecting_collusion_corruption_fraud-blx.bib
*A0_thesis_detecting_collusion_corruption_fraud.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc